<br><br><div align="center" style="color: #710000;">
    <h1>Lista de Usuarios</h1>
  </div><br><br>
  <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col" class="movil">Nombre</th>
          <th scope="col" class="movil">Email</th>
          <th scope="col" class="movil">Telefono</th>
          <th scope="col" class="movil">Direccion</th>
          <th scope="col">Nombre de Usuario</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          @if(listUsers){
              @for (user of listUsers; track $index) {
                  <tr>
                    <td>{{user.id}}</td>
                    <td class="movil">{{user.name}}</td>
                    <td class="movil">{{user.email}}</td>
                    <td class="movil">{{user.phone}}</td>
                    <td class="movil">{{user.address}}</td>
                    <td>{{user.username}}</td>
                    <td>
                        <button class="btn btn-warning" (click)="goTo(user.id)">Editar</button>
                    </td>
                  </tr>
              }
          }
      </tbody>
    </table><br><br><br><br><br><br><br><br><br>
  
  