
<section class="vh-100" style="margin-bottom: 8%; margin-top: 2%;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-7">
        <br>
        <div class="title">
          @if(id!=null){
            <h2 class="text-uppercase text-center mb-5 ">Edite el Vehiculo</h2>
          }@else {
            <h2 class="text-uppercase text-center mb-5 ">Añada un Vehiculo</h2>
          }
        </div>
        <form [formGroup]="myForm" (ngSubmit)="add()">
          <div class="card" style="border-radius: 15px;">
              <div class="card-body">
  
              <div class="row align-items-center pt-2 pb-1">
                  <div class="col-md-3 ps-5 label">
                      <h6 class="mb-0">Matricula</h6>
                  </div>
                  @if(id!=null){
                    <div class="col-md-9 pe-5 input">
                      <input type="text" id="plateNumber" formControlName="plateNumber" class="form-control form-control-sm" readonly/>
                    </div>
                  }@else {
                    <div class="col-md-9 pe-5 input">
                      <input type="text" id="plateNumber" formControlName="plateNumber" class="form-control form-control-sm" readonly/>
                      @if(invalidField("plateNumber")){
                        <span class="form-text text-danger">{{plateNumberError}}</span>
                      }
                    </div>
                  }
              </div>
  
              <hr class="mx-n3">
  
              <div class="row align-items-center pt-2 pb-1">
                  <div class="col-md-3 ps-5 label">
                      <h6 class="mb-0">Marca</h6>
                  </div>
                  <div class="col-md-9 pe-5 input">
                    <input type="text" id="brand" formControlName="brand" class="form-control form-control-sm" />
                    @if(invalidField("brand")){
                      <span class="form-text text-danger">La marca es obligatoria</span>
                    }
                  </div>
              </div>
  
              <hr class="mx-n3">
  
              <div class="row align-items-center pt-2 pb-1">
                  <div class="col-md-3 ps-5 label">
                      <h6 class="mb-0">Modelo</h6>
                  </div>
                  <div class="col-md-9 pe-5 input">
                    <input type="text" id="model" formControlName="model" class="form-control form-control-sm" />
                    @if(invalidField("model")){
                      <span class="form-text text-danger">El modelo es obligatorio</span>
                    }
                  </div>
              </div>
  
              <hr class="mx-n3">
  
              <div class="row align-items-center pt-2 pb-1">
                  <div class="col-md-3 ps-5 label">
                      <h6 class="mb-0">Imagen</h6>
                  </div>
                  <div class="col-md-9 pe-5 input">
                    <input type="file" id="image" formControlName="image" (change)="getFile($event)" class="form-control form-control-sm" />
                    @if(invalidField("image")){
                      <span class="form-text text-danger">La imagen es obligatoria</span>
                    }
                    <br><img src="{{image}}" width="50%" >
                  </div>
              </div>
  
              <hr class="mx-n3">

              <div class="row align-items-center pt-2 pb-1">
                  <div class="col-md-3 ps-5 label">
                      <h6 class="mb-0">Año</h6>
                  </div>
                  <div class="col-md-9 pe-5 input">
                    <input type="number" id="year" formControlName="year" class="form-control form-control-sm" min="1953" max="2020"/>
                    @if(invalidField("year")){
                      <span class="form-text text-danger">{{yearError}}</span>
                    }
                  </div>
              </div>
  
              <hr class="mx-n3">

              <div class="row align-items-center pt-2 pb-1">
                  <div class="col-md-3 ps-5 label">
                      <h6 class="mb-0">Color</h6>
                  </div>
                  <div class="col-md-9 pe-5 input">
                    <input type="text" id="color" formControlName="color" class="form-control form-control-sm" />
                    @if(invalidField("color")){
                      <span class="form-text text-danger">El color es obligatorio</span>
                    }
                  </div>
              </div>
  
              <hr class="mx-n3">
              <div class="row align-items-center pt-2 pb-1">
                  <div class="col-md-3 ps-5 label">
                      <h6 class="mb-0">Carburante</h6>
                  </div>
                  <div class="col-md-9 pe-5 input">
                    <select class="form-select form-control-sm" id="fuel" formControlName="fuel">
                      <option value="gasoline">Gasolina</option>
                      <option value="diesel">Diesel</option>
                  </select>
                  @if(invalidField("fuel")){
                    <span class="form-text text-danger">El carburante es obligatorio</span>
                  }
                  </div>
              </div>

              <hr class="mx-n3">
              <div class="row align-items-center pt-2 pb-1">
                  <div class="col-md-3 ps-5 label">
                      <h6 class="mb-0">Categoria</h6>
                  </div>
                  <div class="col-md-9 pe-5 input">
                    <select class="form-select form-control-sm" id="category" formControlName="category">
                      <option value="0" selected>Categorias</option> 
                      @for (category of categories; track $index) {
                      <option value="{{category.id}}">{{category.name}}</option>
                      }
                  </select>
                  @if(invalidField("category")){
                    <span class="form-text text-danger">{{categoryError}}</span>
                  }
                  </div>
              </div>
  
              <hr class="mx-n3">

              <hr class="mx-n3">
              <div class="row align-items-center pt-2 pb-1">
                  <div class="col-md-3 ps-5 label">
                      <h6 class="mb-0">Precio por Dia</h6>
                  </div>
                  <div class="col-md-9 pe-5 input">
                    <input type="number" id="price" formControlName="dailyPrice" class="form-control form-control-sm" step="0.01" min="0" />
                    @if(invalidField("dailyPrice")){
                      <span class="form-text text-danger">El precio es obligatorio mayor que 0</span>
                    }
                  </div>
              </div>
  
              <hr class="mx-n3">
  
              <div class="px-5 py-4 buttons">
                @if(id!=null){
                  <div class="d-flex justify-content-center">
                    <button type="submit"
                      class="add">Editar</button>
                      <button type="button" class="cancel" routerLink="/vehicles">Cancelar</button>
                  </div>
                }@else {
                  <div class="d-flex justify-content-center">
                    <button type="submit"
                      class="add" >Añadir</button>
                      <button type="button" class="cancel" routerLink="/vehicles">Cancelar</button>
                  </div>

                }
                  
              </div>
  
              </div>
          </div>

      </form>

      </div>
    </div>
  </div>
</section><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
