

<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              Mejores precios, <br />
              <span class="text" style="color: #710000;"> mejores coches</span>
            </h1>
            <p style="color: hsl(214, 9%, 34%)"> 
                Alquilar coches brinda versatilidad sin compromisos a largo plazo, permitiéndote elegir 
                el vehículo ideal para cada ocasión. Evitas costos fijos como mantenimiento y depreciación, 
                convirtiendo esta opción en una solución de movilidad conveniente y eficiente.
            </p>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">

                <form #myForm="ngForm" (ngSubmit)="loginForm()">

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3">Nombre de Usuario</label>
                    <input type="text" id="username" class="form-control" name="username" ngModel #username/>
                  </div>
  
                  <!-- Password input -->
                  <div class="form-outline mb-4">
                      <label class="form-label" for="form3Example4">Contraseña</label>
                        <input type="password" id="password" class="form-control" name="password" ngModel  #password/>
                  </div>
  
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-block mb-4" style="background-color: #710000; color: aliceblue; height: 44px;" alt="Login">
                    Entrar
                  </button>

                  <div>
                    <p class="mb-0">¿No está registrado? <a routerLink="/register" class="text-50 fw-bold" alt="registro">Registrarse</a>
                    </p>
                  </div>
  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



