
<section class="vh-100" style="margin-bottom: 8%; margin-top: 2%;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-7">
  
          <h1 class="text-black mb-4 title">Editar Usuario</h1>
          
        @if(user){

            <form [formGroup]="myForm" (ngSubmit)="submit()">
              <div class="card" style="border-radius: 15px;">
                  <div class="card-body">
      
                  <div class="row align-items-center pt-2 pb-1">
                      <div class="col-md-3 ps-5 label">
                          <h6 class="mb-0">Nombre</h6>
                      </div>
                      <div class="col-md-9 pe-5 input">
                          <input type="text" class="form-control form-control" name="name" formControlName="name"/>
                          @if(invalidField("name")){
                              <span class="form-text text-danger">El nombre es obligatorio</span>
                          }
                      </div>
                  </div>
      
                  <hr class="mx-n3">
      
                  <div class="row align-items-center pt-2 pb-1">
                      <div class="col-md-3 ps-5 label">
                          <h6 class="mb-0">Email</h6>
                      </div>
                      <div class="col-md-9 pe-5 input">
                          <input type="email" class="form-control form-control" name="email" formControlName="email"/>
                          @if(invalidField("email")){
                              <span class="form-text text-danger">{{emailErrorMsg}}</span>
                          }
                      </div>
                  </div>
      
                  <hr class="mx-n3">
      
                  <div class="row align-items-center pt-2 pb-1">
                      <div class="col-md-3 ps-5 label">
                          <h6 class="mb-0">Teléfono</h6>
                      </div>
                      <div class="col-md-9 pe-5 input">
                          <input type="text" class="form-control form-control" name="phone" formControlName="phone"/>
                          @if(invalidField("phone")){
                              <span class="form-text text-danger">{{phoneErrors}}</span>
                          }
                      </div>
                  </div>
      
                  <hr class="mx-n3">
      
                  <div class="row align-items-center pt-2 pb-1">
                      <div class="col-md-3 ps-5 label">
                          <h6 class="mb-0">Dirección</h6>
                      </div>
                      <div class="col-md-9 pe-5 input">
                          <input type="text" class="form-control form-control" name="address" formControlName="address"/>
                          @if(invalidField("address")){
                              <span class="form-text text-danger">La dirección es obligatoria</span>
                          }
                      </div>
                  </div>
      
                  <hr class="mx-n3">
  
                  <div class="row align-items-center pt-2 pb-1">
                      <div class="col-md-3 ps-5 label">
                          <h6 class="mb-0">Nombre de Usuario</h6>
                      </div>
                      <div class="col-md-9 pe-5 input">
                          <input type="text" class="form-control form-control" name="username" formControlName="username"/>
                          @if(invalidField("username")){
                              <span class="form-text text-danger">Nombre de usuario ya existente</span>
                          }
                      </div>
                  </div>
      
                  <hr class="mx-n3">
      
                  <div class="px-5 py-4 buttons">
                      <button type="submit" class="login" alt="Confirmar">Confirmar</button>
                      <button type="submit" class="cancel" routerLink="/listUsers" alt="Cancelar">Cancelar</button>
                  </div>
      
                  </div>
              </div>
  
          </form>
        }
  
        </div>
      </div>
    </div>
  </section><br><br><br><br><br><br><br><br><br><br>
