.slider-frame {
    width: 100%; 
    height: 300px; 
    margin: 30px auto 0;
    overflow: hidden;
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 500%; 
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
    width: 20%; 
    list-style: none;
}

.slider-frame img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    object-position: center; 
}

.img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: bottom 100%;
}

.container{
    margin-top: 80px;
    align-content: center;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
}

.gallery{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}

.small{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: solid 1px #bebebe;
    border-radius: 5px;
}

.text{
    text-align: center;
    padding-top:15% ;
    padding-bottom: 15%;
    padding-left: 10%;
    padding-right: 10%;
    border: solid #710000 2px;
    border-radius: 5px;
}



@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

@media only screen and (max-width: 768px) {

    .container{

        display: grid;

        grid-template-rows: 0.5fr 1fr;
        grid-template-columns: 1fr;

    }

}