
<div class="slider-frame" >
    <ul class="img">
        <li><img alt="imagen coche" src="../../../assets/img/coche10.png"></li>
        <li><img alt="imagen coche" src="../../../assets/img/coche11.jpg"></li>
        <li><img alt="imagen coche" src="../../../assets/img/coche12.jpg"></li>
        <li><img alt="imagen coche" src="../../../assets/img/coches13.jpg"></li>
    </ul>
</div>
<div class="container">
    <div class="text" >
        <h1 style="color: rgb(165, 27, 27);">Bienvenido a <b>QuickCar</b></h1><br><br>
        <p>
            Descubre la libertad de la carretera con nuestro servicio de alquiler de coches. En QuickCar, te ofrecemos una flota variada, precios transparentes y una experiencia sin complicaciones. ¡Reserva ahora y comienza tu próximo viaje con nosotros!
        </p>
    </div>
    <div class="gallery">
        <img alt="imagen coche" class="small" src="../../../assets/img/gallery1.jpg">
        <img alt="imagen coche" class="small" src="../../../assets/img/gallery2.webp">
        <img alt="imagen coche" class="small" src="../../../assets/img/gallery3.webp">
        <img alt="imagen coche" class="small" src="../../../assets/img/gallery4.webp">
    </div>
</div>
<br><br>
