<br><br><div align="center" style="color: #710000;">
  <h1>Historial de Alquileres</h1>
</div><br><br>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" class="movil">Matricula</th>
        <th scope="col">Marca</th>
        <th scope="col" class="movil">Modelo</th>
        <th scope="col">Fecha de Inicio</th>
        <th scope="col">Fecha Final</th>
        <th scope="col">Precio Total</th>
      </tr>
    </thead>
    <tbody>
        @if(rentals){
            @for (rental of rentals; track $index) {
                <tr>
                  <td class="movil">{{toVehicle(rental.vehicle).plateNumber}}</td>
                  <td>{{toVehicle(rental.vehicle).brand}}</td>
                  <td class="movil">{{toVehicle(rental.vehicle).model}}</td>
                  <td>{{rental.startDate}}</td>
                  <td>{{rental.endDate}}</td>
                  <td>{{rental.totalPrice}} €</td>
                </tr>
            }
        }
    </tbody>
  </table><br><br><br><br><br><br><br><br><br>

