
<section class="vh-100" style="margin-bottom: 8%; margin-top: 3%;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-9">
  
          <h1 class="text-black mb-4">Registro</h1>

          <form [formGroup]="myForm" (ngSubmit)="submit()">
            <div class="card" style="border-radius: 15px;">
                <div class="card-body">
    
                <div class="row align-items-center pt-2 pb-1">
                    <div class="col-md-3 ps-5">
                        <h6 class="mb-0">Nombre</h6>
                    </div>
                    <div class="col-md-9 pe-5">
                        <input type="text" class="form-control form-control" name="name" formControlName="name"/>
                        @if(invalidField("name")){
                            <span class="form-text text-danger">El nombre es obligatorio</span>
                        }
                    </div>
                </div>
    
                <hr class="mx-n3">
    
                <div class="row align-items-center pt-2 pb-1">
                    <div class="col-md-3 ps-5">
                        <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-md-9 pe-5">
                        <input type="email" class="form-control form-control" name="email" formControlName="email"/>
                        @if(invalidField("email")){
                            <span class="form-text text-danger">{{emailErrorMsg}}</span>
                        }
                    </div>
                </div>
    
                <hr class="mx-n3">
    
                <div class="row align-items-center pt-2 pb-1">
                    <div class="col-md-3 ps-5">
                        <h6 class="mb-0">Teléfono</h6>
                    </div>
                    <div class="col-md-9 pe-5">
                        <input type="text" class="form-control form-control" name="phone" formControlName="phone"/>
                        @if(invalidField("phone")){
                            <span class="form-text text-danger">{{phoneErrors}}</span>
                        }
                    </div>
                </div>
    
                <hr class="mx-n3">
    
                <div class="row align-items-center pt-2 pb-1">
                    <div class="col-md-3 ps-5">
                        <h6 class="mb-0">Dirección</h6>
                    </div>
                    <div class="col-md-9 pe-5">
                        <input type="text" class="form-control form-control" name="address" formControlName="address"/>
                        @if(invalidField("address")){
                            <span class="form-text text-danger">La dirección es obligatoria</span>
                        }
                    </div>
                </div>
    
                <hr class="mx-n3">

                <div class="row align-items-center pt-2 pb-1">
                    <div class="col-md-3 ps-5">
                        <h6 class="mb-0">Nombre de Usuario</h6>
                    </div>
                    <div class="col-md-9 pe-5">
                        <input type="text" class="form-control form-control" name="username" formControlName="username"/>
                        @if(invalidField("username")){
                            <span class="form-text text-danger">Nombre de usuario ya existente</span>
                        }
                    </div>
                </div>
    
                <hr class="mx-n3">

                <div class="row align-items-center pt-2 pb-1">
                    <div class="col-md-3 ps-5">
                        <h6 class="mb-0">Contraseña</h6>
                    </div>
                    <div class="col-md-9 pe-5">
                        <input type="password" class="form-control form-control" name="password" formControlName="password"/>
                        @if(invalidField("password")){
                            <span class="form-text text-danger">La contraseña es obligatoria</span>
                        }
                    </div>
                </div>
    
                <hr class="mx-n3">
                <div class="row align-items-center pt-2 pb-1">
                    <div class="col-md-3 ps-5">
                        <h6 class="mb-0">Repetir Contraseña</h6>
                    </div>
                    <div class="col-md-9 pe-5">
                        <input type="password" class="form-control form-control" name="passwordRep" formControlName="passwordRep"/>
                        @if(invalidField("passwordRep")){
                            <span class="form-text text-danger">Contraseñas no coinciden</span>
                        }
                    </div>
                </div>
    
                <hr class="mx-n3">
    
                <div class="px-5 py-4">
                    <button type="submit" class="login">Confirmar</button>
                    <button type="submit" class="cancel" routerLink="/login">Cancelar</button>
                </div>
    
                </div>
            </div>

        </form>
  
        </div>
      </div>
    </div>
  </section>
